/* Outermost div content */
body.projects #content {
    border: 0;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 0.5rem + 1vw, 3rem);
    background: transparent;
}

/* page Title */
.pageTitle {
    color: var(--text);
    min-height: 40px;
    text-align: center;
    min-height: fit-content;
    color: black;
    font-weight: 600;
    font-size: clamp(1.3rem, 1.1rem + 1.5vw, 1.7rem);
    letter-spacing: 0.3px;
    margin-top: clamp(1.1rem, 1rem + 2vw, 1.4rem);
    margin-bottom: clamp(1rem, 1rem + 1vw, 1.2rem);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* New project button */
.newProjectBtn {
    align-self: center;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 8px;

    background-color: rgb(var(--main-blue));
    color: white;
    font-weight: 600;

    cursor: pointer;
    transition: 
        transform 0.2s ease;
        box-shadow: 0.2 ease;
}

.newProjectBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgb(12, 12, 12, 0.15);
}

/* BOX to show project lists */
.projectListBox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 500px;
}

/* The project Cards */
.projectListBox>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    border: 2px solid rgb(0, 0, 0);
    padding: 1rem 0;
}

/* New Project Dialog Box */
.NewProject:modal {
    min-height: max-content;
    min-width: fit-content;
    padding: 0;
}

/* New Project Form */
.newProjectForm {
    width: clamp(200px, 250px + 4vw, 600px);
    padding: clamp(1rem, 1rem + 2vw, 1.7rem);
    padding-bottom: clamp(1.5rem, 1rem + 4vw, 2.1rem);
    display: flex;
    flex-direction: column;
    gap: clamp(1.5rem, 2vw, 3rem)
}

.newProjectForm>.headingProjectForm {
    text-align: center;
    min-height: fit-content;
    color: black;
    font-weight: 700;
    font-size: clamp(1.3rem, 1rem + 0.7vw, 1.7rem)
}


.newProjectForm>button {}

.newProjectForm>input {
    height: clamp(1rem, 1rem + 5vw, 2.5rem);
}