/* Outermost div content */
body.projects #content {
    border: 0;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 0.5rem + 1vw, 3rem);
    background: transparent;
}

/* page Title */
.pageTitle {
    color: var(--text);
    min-height: 40px;
    text-align: center;
    min-height: fit-content;
    color: black;
    font-weight: 600;
    font-size: clamp(1.3rem, 1.1rem + 1.5vw, 1.7rem);
    letter-spacing: 0.3px;
    margin-top: clamp(1.1rem, 1rem + 2vw, 1.4rem);
    margin-bottom: clamp(1rem, 1rem + 1vw, 1.2rem);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* New project button */
.newProjectBtn {
    align-self: center;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 8px;

    background-color: rgb(var(--main-blue));
    color: white;
    font-weight: 600;

    cursor: pointer;
    transition: 
        transform 0.2s ease;
        box-shadow: 0.2 ease;
}

.newProjectBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgb(12, 12, 12, 0.15);
}

/* BOX to show project lists */
.projectListBox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 500px;
}

/* The project Cards */
.projectDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 1.2rem;

    position: relative;
    background-color: #e0e1ea;
    color: var(--text);

    transition: 
        transform 0.2s ease,
        width 0.2s ease;

    border-radius: 12px;
}

.projectDiv::before {
    content: "";
    height: 100%;
    width: 10px;
    border-radius: 12px 0 0 12px;
    background-color: rgb(var(--main-blue));
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.2s ease;
}

.projectDiv:hover::before{
    width: 21px;
}
.projectDiv:hover {
    transform: translateY(-3px);
    box-shadow: rgba(10, 10, 10, 0.04);
}

/* logo Div for the svg */
.projectDiv__logos {
    display: flex;
    gap: 0.4rem;
}

.projectDiv__button {
    height: 40px;
    width: 40px;
    padding: 4px;
    line-height: 8px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 
        transform 0.2s ease,
        background-color 0.15s ease;
    ;
}

.projectDiv__button:hover {
    transform: translateY(-2px);
    background-color: rgba(0, 0, 0, 0.04);
}
.projectDiv:hover .projectDiv__title {
    transform: translateX(0.8rem);
}

.projectDiv__button>svg {
    background-color: transparent;
    height: clamp(24px, 24px + 0.8vw, 27px);
    width: clamp(24px, 24px + 0.8vw, 27px);
    stroke-width: 1.5px;
    stroke: black;
    fill: none;
    
    transition: stroke 0.13s ease;
}

.projectDiv__button--edit:hover .projectDiv__svg--edit {
    stroke: blue;
}
.projectDiv__button--delete:hover .projectDiv__svg--delete {
    stroke: red;
}

/* project Title */
.projectDiv__title {
    font-weight: 600;
    font-size: clamp(1.1rem, 1.14rem + 0.2vw, 1.4rem);
    transition: translate 0.2s ease;
}











/* New Project Dialog Box */
.NewProject:modal {
    min-height: max-content;
    min-width: fit-content;
    padding: 0;
}

/* New Project Form */
.newProjectForm {
    width: clamp(200px, 250px + 4vw, 600px);
    padding: clamp(1rem, 1rem + 2vw, 1.7rem);
    padding-bottom: clamp(1.5rem, 1rem + 4vw, 2.1rem);
    display: flex;
    flex-direction: column;
    gap: clamp(1.5rem, 2vw, 3rem)
}

.newProjectForm>.headingProjectForm {
    text-align: center;
    min-height: fit-content;
    color: black;
    font-weight: 700;
    font-size: clamp(1.3rem, 1rem + 0.7vw, 1.7rem)
}


.newProjectForm>button {}

.newProjectForm>input {
    height: clamp(1rem, 1rem + 5vw, 2.5rem);
}