:root {
    --main-red: 255, 85, 85;
    --main-blue: 35, 155, 400;
    --main-bg: #f8f8f8f8;
    --text: #1a1a1a;

}

body {
    margin: 0;
    min-height: 98vh;
    min-width: fit-content;
    background-color: var(--main-bg);
}

header {
    padding-left: clamp(1rem, 6vw, 5rem);
    padding-right: clamp(1rem, 6vw, 6rem);

    background: rgb(var(--main-blue));
    height: clamp(60px, 8vw, 85px);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

header>div {
    min-height: fit-content;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: clamp(1.3rem, 1rem + 1vw, 2.6rem);
    letter-spacing: 1px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: clamp(1rem, 6vw, 4rem);

    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: 0.8px;
    font-size: clamp(1rem, 1rem + 0.5vw, 1.3rem);
}

nav>button,
nav>button:active {
    all: unset;
    padding: 0.4rem 1rem;
    border: 2px solid transparent;
    border-radius: 16px;
}

nav>button:hover {
    border: 2px solid white;
}

nav>button:active {
    transform: scale(0.99);
}

#content {
    margin: 0 auto;
    min-width: fit-content;
    max-width: 900px;
    min-height: fit-content;
    border: 1px solid black;
}