body {
    min-height: 98vh;
    background-color: rgb(248, 244, 209);
}

@font-face {
    font-family: "logoFont";
    src: url("./fonts/EagleLake-Regular.woff2") format("woff2");
    font-weight: normal;
}

header {
    height: 102px;
    padding: 1rem clamp(1rem, 4vw, 80px);

    display: flex;
    justify-content: center;
    gap: clamp(1rem, 3vw, 30px);

    background-color: rgb(152, 96, 13);
    align-items: center;
    box-shadow: 0 2px 2px rgba(126, 120, 112, 0.7);
}

.logo {
    font-family: "logoFont", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    color: hsl(40, 72%, 80%);
    text-shadow: 0.8px 0.8px 5px rgb(4, 3, 3);
}

nav {
    display: flex;
    gap: 1.5rem;
}

nav>button, .leftBox>button {
    all: unset;
    padding: clamp(0.5rem, 2.4vh, 2rem) clamp(0.7rem, 2vw, 2rem);
    border-radius: 10px;
    background-color: rgb(234, 218, 153);
    color: rgb(96, 73, 3);
    font-size: 1.2rem;
    font-weight: bold;
}

#content {
    max-width: 900px;
    margin: 0 auto;
    padding: clamp(0.6rem, 4vw, 70px) clamp(1rem, 4vw, 60px);
    min-height: fit-content;
    align-content: center;
}

#contentHeading::first-letter {
    font-size: 5rem;
    color: rgb(91, 67, 2);
}

/* Reservations Page styling */

#reserveForm {
    max-width: 800px;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 13px;
    padding: clamp(2rem, 6vh, 70px) clamp(1rem, 3vw, 3rem);
    padding-bottom: clamp(2rem, 9vh, 60px);

    background-color: rgba(207, 137, 7, 0.479);
    color:  rgb(31, 23, 1);

    display: grid;
    grid-template-columns: minmax(50px, 1fr) minmax(100px, 1fr);
    grid-auto-rows: 40px;
    row-gap: clamp(1rem, 2vw, 2rem);
    column-gap: clamp(1rem, 3vw, 2rem);
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(74, 49, 3, 0.9);
}

#reserveForm>label {
    justify-self: right;
    align-self: end;

    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 0.8px;
}

#reserveForm>input{
    justify-self: left;
    align-self: center;
    border: 2px solid black;
    height: calc(0.5vw + 40px);
    width: clamp(160px, 8vw, 400px);
    border-radius: 4px;
    font-weight: 500;
}

#reserveForm>input:focus {
    outline: none;
    transform: scale(1.06);
    box-shadow: 3px 3px 3px rgba(71, 67, 60, 0.9);
    border: 2px solid rgba(27, 15, 1, 0.627);
    border-radius: 4px;
}

#reserveForm>button {
    margin-top: 2rem;
    grid-area: 6/2/7/3;
    align-self: center;
    justify-self: left;

    border: 0;
    border-radius: 6px;
    background-color: rgb(94, 75, 2);
    color: rgb(233, 226, 204);
    font-size: 1.3rem;
    font-weight: bold;

    padding: clamp(1rem, 2vh, 2rem) clamp(1rem, 2vw, 2rem);
    box-shadow: 3px 3px 3px rgba(98, 95, 91, 0.9);
}

#reserveForm>button:hover {
    transform: scale(1.08);
    color: rgb(96, 73, 3);
    background-color: rgb(234, 218, 153);
    box-shadow: 5px 5px 5px rgba(126, 120, 112, 0.7)
}

/* Hover for all the NON ACTIVE buttons */
nav>button:not(.active):hover, #exploreMenu:hover {
    transform: scale(1.11);
    color: rgb(233, 226, 204);
    background-color: rgb(94, 75, 2);
}

/* Change style & TAB the ACTIVE button */
nav>button.active {
    transform: scale(1.11);
    color: rgb(233, 226, 204);
    background-color: rgb(94, 75, 2);
}
